PUNTO_MONTAJE=/home/utnso/tp-2021-1c-LaMitad-1/polus
IP_I_MONGO_STORE=127.0.0.1
PUERTO_ESCUCHA=5003
IP_DISCORDIADOR=127.0.0.1
PUERTO_DISCORDIADOR=5001
PATH_ARCHIVO_LOG=/home/utnso/tp-2021-1c-LaMitad-1/i-Mongo-Store/i-Mongo-Store.log
TIEMPO_SINCRONIZACION=10
POSICIONES_SABOTAJE=[1|1]
BLOCK_SIZE=64
BLOCKS=16384
